/*** VARIABLES ***/

:root {
  --primary-color: #da4b4b;
  --secondary-color: #eeeeee;
  --black-color: #000000;
  --white-color: #ffffff;
  --hover-brightness: 110%;
}

/*** RESET ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** WHOLE PAGE ***/

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.wrapper {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

/*** UTILITIES ***/

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

/*** TYPOGRAPHY ***/

.heading-1 {
  font-size: 2.5rem;
  letter-spacing: 0.25px;
}

.heading-2 {
  font-size: 2rem;
}

.heading-2-small {
  font-size: 1.25rem;
}

.text {
  font-size: 1.125rem;
  line-height: 150%;
}

.text-bold {
  font-weight: 700;
}

.text-enlarged {
  font-size: 1.75rem;
}

.text-center {
  text-align: center;
}

/*** BUTTONS ***/

.btn {
  border: none;
  border-radius: 4px;
  padding: 1rem 3.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.125s ease-in;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-primary:hover {
  filter: brightness(var(--hover-brightness));
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--black-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
}

/*** HEADER ***/

.navigation {
  padding: 1rem 6rem;
  background-color: var(--primary-color);
}

.navigation-list {
  list-style-type: none;
}

.navigation-list-item:not(:last-child) {
  margin-right: 1rem;
}

.navigation-link {
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--black-color);
}

.navigation-link:hover {
  text-decoration: underline;
}

.navigation-link.is-active {
  font-weight: 700;
}

.avatar-container > .avatar-image {
  width: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.header-main-content {
  background-color: var(--secondary-color);
  height: 40rem;
}

.header-main-content > h1 {
  margin-bottom: 1.5rem;
}

.header-main-content > p {
  max-width: 50%;
  margin-bottom: 1.5rem;
}

/*** MAIN ***/

.main {
  margin-top: 6rem;
}

.section {
  margin-bottom: 6rem;
  padding: 0 4rem;
}

.section:nth-child(2) {
  margin-bottom: 8rem;
}

.section-image-container {
  width: 50%;
  border: 1px solid var(--black-color);
  border-radius: 4px;
  overflow: hidden;
}

.section-image {
  width: 100%;
  vertical-align: -4px;
}

.section-content {
  width: 40%;
}

.section-heading {
  margin-bottom: 1.5rem;
}

.section-list {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  list-style-position: inside;
}

.section-list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.section-images-container {
  align-items: flex-start;
}

.section-images-container > .section-image-container {
  width: 22.5%;
  border: none;
  border-radius: 0;
}

.section-images-container > .section-image-container > .section-image {
  margin-bottom: 1rem;
  min-height: 220px;
}

.section-images-container > .section-image-container > .text {
  display: block;
}

.section-gray {
  background-color: var(--secondary-color);
  padding: 6rem 10rem;
}

.section-gray::before {
  left: -4rem;
}

.section-gray::after {
  right: -4rem;
}

.section-gray > .quote {
  display: block;
  margin-bottom: 2rem;
}

.section-gray > .avatar {
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.section-heading.flex-column {
  align-items: flex-start;
}

.section-heading.flex-column > span {
  margin-top: 0.75rem;
  font-weight: 400;
  font-size: 1.25rem;
}

.section-buttons {
  margin-left: 1rem;
}

.section-buttons > button:first-child {
  margin-right: 1.5rem;
}

/*** MEDIA QUERIES ***/

@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 0 10vw;
  }
}

@media screen and (max-width: 1023px) {
  .section {
    flex-direction: column;
  }

  .section-image-container {
    width: 100%;
    max-width: 640px;
  }

  .section-content {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
  }

  .section-images-container > .section-image-container {
    width: 47.5%;
  }

  .section-images-container > .section-image-container:nth-child(1),
  .section-images-container > .section-image-container:nth-child(2) {
    margin-bottom: 2rem;
  }

  .section-images-container > .section-image-container > .section-image {
    height: 285px;
  }
}

@media screen and (max-width: 799px) {
  .navigation {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .navigation-list {
    margin-top: 1rem;
  }

  .header-main-content {
    height: 35rem;
    padding: 0 3rem;
  }

  .header-main-content > p {
    max-width: unset;
  }

  .section-images-container > .section-image-container {
    width: 100%;
  }

  .section-images-container > .section-image-container:nth-child(3) {
    margin-bottom: 2rem;
  }

  .section-gray {
    padding: 3rem;
  }

  .section-gray > .quote.text-enlarged {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 612px) {
  .section-heading.flex-column {
    text-align: center;
    align-items: center;
  }

  .section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-buttons > .btn {
    width: 265px;
  }

  .section-buttons > .btn:first-child {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

@media screen and (max-width: 399px) {
  :root {
    font-size: 12px;
  }

  .section-images-container > .section-image-container > .section-image {
    height: auto;
  }

  .section-buttons > .btn {
    width: 200px;
  }
}
